.menu-item {
    display: grid;
    grid-template-columns: max-content 1fr;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}

.menu-detalhes {
    display: grid;
    position: relative;
    grid-template-columns: 1fr max-content;
    padding: 16px;
}

.menu-preco {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    position: absolute;
    top: 16px;
    right: 16px;
}

.menu-detalhes h2 {
    font-size: 2.5rem;
    margin-bottom: 12px;
}

.menu-detalhes p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
}

.menu-detalhes span:last-of-type {
    width: max-content;
    align-self: end;
}

.menu-detalhes input {
    padding: 8px;
    font-size: 1rem;
    width: 100px;
}

.menu-img {
    object-fit: cover;
    object-position: center;
    width: 250px;
    height: 250px;
}