.footer {
    max-width: 100%;
    width: 100%;
    background-color: #A36A54;
}

.primeira-sec-footer {
    padding: 24px;
    margin-bottom: 150px;
}

.servicos {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.footer section {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.social-medias {
    justify-self: end;
}

.social-medias img {
    fill: #fff;
}

.servicos a {
    font-size: 1.5rem;
    padding: 8px;
    text-decoration: none;
    color: #fff;
}

.segundo-sec-footer {
    position: fixed;
    bottom: 0;
    max-width: 100%;
    width: 100%;
    padding: 24px;
    background: linear-gradient(45deg, #CF9D82, #A36A54);
}

.segundo-sec-footer h1 {
    color: #ffffff;
    font-family: "Texturina", serif;
    font-size: 3.2rem;
}

.segundo-sec-footer span {
    justify-self: end;
}

.proxima-pag-button {
    font-size: 2rem;
    font-family: "Texturina", serif;
    padding: 16px 80px;
    border: none;
    cursor: pointer;
    color: #000;
    background-color: #fff;
    transition: 0.3s;
}

.proxima-pag-button:hover {
    background-color: #CF9D82;
    color: #fff;
}

@media (width <= 700px) {
    .segundo-sec-footer h1 {
        font-size: 2.5rem;
    }

    .proxima-pag-button {
        font-size: 2rem;
        padding: 8px 60px;
    }
}

@media (width <= 650px) {
    .primeira-sec-footer {
        grid-template-columns: 1fr !important;
    }

    .servicos {
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        margin-bottom: 20px;
    }

    .social-medias {
        justify-self: center;
    }

    .segundo-sec-footer h1 {
        font-size: 1.8rem;
    }
}
